<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>europe</key>
	<array>
		<string>alps</string>
		<string>benelux</string>
		<string>westernswissalps</string>
		<string>germany</string>
	</array>
	<key>northamerica</key>
	<array>
		<string>southerncalifornia</string>
	</array>
</dict>
</plist>
