<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>africa</key>
	<array>
		<string>swsouthafrica</string>
	</array>
	<key>australia</key>
	<array>
		<string>nsw</string>
		<string>nt</string>
		<string>qld</string>
		<string>sa</string>
		<string>tas</string>
		<string>vic</string>
		<string>wa</string>
	</array>
	<key>europe</key>
	<array>
		<string>alps</string>
		<string>benelux</string>
		<string>westernswissalps</string>
		<string>germany</string>
		<string>slovakia</string>
		<string>centralfrance</string>
		<string>baltic</string>
		<string>uk</string>
		<string>finland</string>
		<string>jaca</string>
	</array>
	<key>northamerica</key>
	<array>
		<string>avenal13km</string>
		<string>avenal4km</string>
		<string>southerncalifornia</string>
		<string>bryon3km</string>
		<string>bryon750m</string>
		<string>hilltown</string>
	</array>
</dict>
</plist>
