<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>europe</key>
	<array>
		<dict>
			<key>days</key>
			<array>
				<string>yesterday</string>
				<string>today</string>
				<string>tomorrow</string>
				<string>in_two_days</string>
			</array>
			<key>name</key>
			<string>benelux</string>
			<key>periods</key>
			<array>
				<string>0830</string>
				<string>0900</string>
				<string>1000</string>
				<string>1030</string>
				<string>1100</string>
				<string>1130</string>
				<string>1200</string>
				<string>1230</string>
				<string>1300</string>
				<string>1330</string>
				<string>1400</string>
				<string>1430</string>
				<string>1500</string>
				<string>1530</string>
				<string>1600</string>
				<string>1630</string>
				<string>1700</string>
				<string>1730</string>
				<string>1800</string>
				<string>1830</string>
				<string>1900</string>
			</array>
		</dict>
		<dict>
			<key>days</key>
			<array>
				<string>yesterday</string>
				<string>today</string>
			</array>
			<key>name</key>
			<string>northfrance</string>
			<key>periods</key>
			<array>
				<string>0830</string>
				<string>0900</string>
				<string>1000</string>
				<string>1030</string>
				<string>1100</string>
				<string>1130</string>
				<string>1200</string>
				<string>1230</string>
				<string>1300</string>
				<string>1330</string>
				<string>1400</string>
				<string>1430</string>
				<string>1500</string>
				<string>1530</string>
				<string>1600</string>
				<string>1630</string>
				<string>1700</string>
				<string>1730</string>
				<string>1800</string>
				<string>1830</string>
				<string>1900</string>
			</array>
		</dict>
		<dict>
			<key>days</key>
			<array>
				<string>yesterday</string>
				<string>today</string>
				<string>tomorrow</string>
			</array>
			<key>name</key>
			<string>longmynd</string>
			<key>periods</key>
			<array>
				<string>0830</string>
				<string>0900</string>
				<string>1000</string>
				<string>1030</string>
				<string>1100</string>
				<string>1130</string>
				<string>1200</string>
				<string>1230</string>
				<string>1300</string>
				<string>1330</string>
				<string>1400</string>
				<string>1430</string>
				<string>1500</string>
				<string>1530</string>
				<string>1600</string>
				<string>1630</string>
				<string>1700</string>
				<string>1730</string>
				<string>1800</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
